
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a, a:hover{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

@font-face {
	font-family: GothaProMed; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProMed.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaPro; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaProBold; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

#wrapper{
	width: 100%;
	min-width: 768px;
	float: left;
}

.widthcont {
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

@media (max-width: 970px) {
	.widthcont { 
		width: 100%;
	}
}

.line {
	width: 100%;
	float: left;
}

.box {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

.menu-line {
	float: left;
	background: #000;
}

.menu-line .logo-box {
	width: 133px;
	height: 65px;
	float: left;
	position: relative;
}

.menu-line .logo {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu-line .nav-box {
	width: 100%;
	height: 100%;
	padding-left: 133px;
	position: relative;
}

.menu-line .menunav {
	width: 100%;
	min-height: 65px;
	float: left;
	position: relative;
}

.menu-line .nav {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}

.menu-line .nav li {
	font-family: GothaProMed;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 47px;
	margin-left: 30px;
	color: #fff;
	float: left;
}

.menu-line .nav a:hover {
	color: #89dcff;
}

@media (max-width: 970px) {
	.menu-line .logo-box {
		width: 100%;
		text-align: center;
	}

	.menu-line .logo {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.menu-line .nav-box {
		padding: 0;
		float: left;
	}

	.menu-line .nav {
		width: 100%;
		height: auto;
		position: static;
		float: left;
		transform: none;
	}

	.menu-line .nav li {
		width: 100%;
		margin: 0;
		text-align: center;
	}
}

.contact-line {
	height: 35px;
	background: #333;
}

.contact {
	position: absolute;
	right: 0;
	color: #fff;
}

.contact > *:not(:first-child) {
	margin-left: 40px;
}

.contact > *{
	float: left;
	font-family: GothaPro;
	position: relative;
	color: #fff;
	text-align: right;
	font-size: 14px;
	line-height: 35px;
}

.contact a:hover {
	color: #89dcff;
}

.contact #email:before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: -35px;
	background: url(./../pictures/pics.png) no-repeat 4px 4px;
}

.contact #phone:before {
	content: "";
	display: block;
	width: 15px;
	height: 35px;
	position: absolute;
	left: -20px;
	background: url(./../pictures/pics.png) no-repeat -30px 4px;
}

.title-line {
	height: 565px;
	background: grey;
	background-color: #242d31;
	background-image: url(./../pictures/headimage.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.title {
	padding-top: 75px;
	text-align: center;
	color: #fff;
}

.title h3{
	margin-bottom: 20px;
	font-size: 40px;
	font-style: italic;
}

.title h1{
	font-family: GothaProBold;
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom: 55px;
}

.title button{
	display: inline-block;
	color: #fff;
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 24px;
	width: 240px;
	height: 65px;
	background-color: #89dcff;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
}

.name-dir{
	text-align: center;
	padding-bottom: 45px;
}

.name-dir h2{
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 25px;
	color: #222;
}

.name-dir .head-2{
	margin-bottom: 0;
	color: #fff;
}


.name-dir p{
	font-style: italic;
	font-size: 16px;
	color: #777;
}

.content-box{
	padding: 35px 0 45px 0;
}

.line-ourservices {
	background-color: #fff;
}

.line-ourservices .content li {
	width: 280px;
	float: left;
	font-family: "Myriad Pro";
	text-align: center;
}

.line-ourservices .content li:not(:last-child) {
	margin-right: 45px; 
}

.line-ourservices .content li h3 {
	font-size: 1.5em;
	color: #222;
}

.line-ourservices .content li p {
	font-size: 0.9em;
	color: #777;
}

.line-ourservices .content li .pic {
	width: 65px;
	height: 65px;
	display: inline-block;
	margin-bottom: 15px; 
	border-radius: 50%;
	border: 3px solid #89dcff;
	background-repeat: no-repeat;
}

@media (max-width: 970px) {
	.line-ourservices .content li {
		width: 100%;
		margin-bottom: 20px; 
	}

	.line-ourservices .content li .pic {
		margin-bottom: 0px; 
	}
}

.line-ourservices .content li .pic-1 {
	background-image: url("./../pictures/card.png");
	background-position: 14px 12px;
}

.line-ourservices .content li .pic-2 {
	background-image: url("./../pictures/card.png");
	background-position: -46px 12px;
}

.line-ourservices .content li .pic-3 {
	background-image: url("./../pictures/card.png");
	background-position: -105px 14px;
}


.line-ourservices .content li *:not(.pic) {
	width: 100%;
	float: left;
	text-align: center;
}


.line-portfolio {
	background-color: #f1f1f1;
}

.line-portfolio .content ul {
	float: left;
}

.line-portfolio .content li {
	width: 290px;
	float: left;
	margin-bottom: 25px; 
}

.line-portfolio .content li:not(:nth-child(3n)) {
	margin-right: 30px; 
}

@media (max-width: 970px) { 
	.line-portfolio .content ul {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 610px;
	}

	.line-portfolio .content li:not(:nth-child(3n)) {
		margin-right: 0px; 
	}

	.line-portfolio .content li:not(:nth-child(2n)) {
		margin-right: 30px; 
	}
}

.line-portfolio .content li img {
	width: 100%;
	height: 300px;
	direction: block;
}

.line-portfolio .content li .label {
	width: 100%;
	height: 90px;
	background-color: #fff;
	padding-top: 25px;
	margin-top: -4px;
}

.line-portfolio .content li .label * {
	width: 100%;
	font-family: "Myriad Pro";
	text-align: center;
}

.line-portfolio .content li .label h3 {
	color: #333;
}

.line-portfolio .content li .label p {
	color: #777;
}

.line-stagesofwork {
	background-color: #fff;
}

.line-stagesofwork .content-box {
	padding-left: 150px;
	padding-right: 150px;
}

.line-stagesofwork .item {
	width: 100%;
	height: 170px;
	float: left;
	margin-bottom: 90px; 
	position: relative;
}

.line-stagesofwork .item-last {
	width: 100%;
	float: left;
	position: relative;
}

.line-stagesofwork .item:before {
	content: "";
	width: 3px;
	height: 95px;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -2px);
	background-color: #89dcff;

}

.line-stagesofwork .item .text {
	width: 30%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.line-stagesofwork .item .pic-box {
	width: 40%;
	text-align: center;
}

.line-stagesofwork .item-last .pic-box {
	width: 100%;
	margin-bottom: 20px;
}

.line-stagesofwork .item .pic-box .pic,
.line-stagesofwork .item-last .pic-box .pic {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.line-stagesofwork .item.left > * {
	float: left;
}

.line-stagesofwork .item.left .text {
	text-align: right;
}

.line-stagesofwork .item.right > * {
	float: right;
}

.line-stagesofwork .item.right .text {
	text-align: left;
}

.line-stagesofwork .text h3 {
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
}

.line-stagesofwork .item .text p {
	font-family: "Myriad Pro";
	font-size: 1em;
	color: #777;
}

.line-stagesofwork .item-last .text {
	width: 100%;
	text-align: center;
}

.line-stagesofwork .pic {
	width: 170px;
	height: 170px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.line-stagesofwork .pic.pic-1 {
	background-image: url('./../pictures/img-stage-1.png');
}

.line-stagesofwork .pic.pic-2 {
	background-image: url('./../pictures/img-stage-2.png');
}

.line-stagesofwork .pic.pic-3 {
	background-image: url('./../pictures/img-stage-3.png');
}

.line-stagesofwork .pic.pic-4 {
	background-image: url('./../pictures/img-stage-4.png');
}

.line-stagesofwork .pic.pic-5 {
	background-image: url('./../pictures/img-stage-5.png');
}

.line-stagesofwork .pic.pic-6 {
	background-image: url('./../pictures/img-stage-6.png');
}

.line-team {
	background-color: #f1f1f1;
}

.line-team ul {
	width: 100%;
}

.line-team ul li img {
	margin-bottom: 15px; 
}

.line-team ul li {
	width: 270px;
	float: left;
	text-align: center;
}

.line-team ul li h3,
.line-team ul li p {
	font-family: "Myriad Pro";
}

.line-team ul li h3 {
	font-weight: bold;
	font-size: 1.2em;
	color: #222;
}

.line-team ul li p {
	font-size: 1em;	
	color: #777;
}

@media (max-width: 970px) {
	.line-team ul li img {
		margin-bottom: 5px; 
	}

	.line-team ul li {
		width: 100%;
		margin-bottom: 30px; 
	}
}

.line-team ul li:not(:last-child) {
	margin-right: 60px; 
}

.line-contacts {
	background-color: #222;
}

.line-contacts form {
	width: 100%;
	text-align: center;
}

.line-contacts form .fields {
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

.line-contacts form .borders {
	border-radius: 5px;
	border: none;
}

.line-contacts form .left {
	width: 50%;
	float: left;
	padding-right: 13px;
}

.line-contacts form .left input {
	width: 100%;
	line-height: 50px;
	font-size: 1em;
	padding: 0 15px;
}

.line-contacts form .left input:not(:last-child) {
	margin-bottom: 25px;
}

.line-contacts form .right {
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 13px;
}

.line-contacts form .right textarea {
	width: 100%;
	height: 200px;
	max-height: 200px;
	display: block;
	font-size: 1.2em;
	padding: 15px;
}

.line-contacts form input::-webkit-input-placeholder,
.line-contacts form textarea::-webkit-input-placeholder {
	text-transform: uppercase;
}


.line-contacts form input[type="submit"] {
	width: 240px;
	line-height: 65px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #89dcff;
}

.footer-line {
	height: 55px;
	background-color: #fff;
}

.footer-line p {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	font-family: "Myriad Pro";
	color: #555;
}

.footer-line p a {
	color: #89dcff;
	text-decoration: underline;
}

.footer-line ul {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.footer-line ul li {
	float: left;
}

.footer-line ul li:not(:last-child) {
	margin-right: 7px; 
}

.footer-line ul li a {
	display: block;
	width: 32px;
	height: 35px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	background-color: #89dcff;
}


