
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a, a:hover{
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

@font-face {
	font-family: GothaProMed; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProMed.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaPro; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaProBold; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

#wrapper{
	width: 100%;
	min-width: 768px;
	float: left;
}

.widthcont {
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.line {
	width: 100%;
	float: left;
}

.menu-line {
	height: 65px;
	background: #000;
}

.menu-line .logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu-line .nav {
	float: right;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}

.menu-line .nav li {
	font-family: GothaProMed;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 47px;
	margin-left: 30px;
	color: #fff;
	float: right;
	list-style: none;
}

.contact-line {
	height: 35px;
	background: #333;
}

.contact {
	position: absolute;
	right: 0;
}

.contact > *:not(:first-child) {
	margin-left: 40px;
}

.contact > *{
	float: left;
	font-family: GothaPro;
	position: relative;
	color: #fff;
	text-align: right;
	font-size: 14px;
	line-height: 35px;
}

.contact #email:before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: -35px;
	background: url(./../pictures/pics.png) no-repeat 4px 4px;
}

.contact #phone:before {
	content: "";
	display: block;
	width: 15px;
	height: 35px;
	position: absolute;
	left: -20px;
	background: url(./../pictures/pics.png) no-repeat -30px 4px;
}

.title-line {
	height: 565px;
	background: grey;
	background-color: #242d31;
	background-image: url(./../pictures/headimage.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.title {
	padding-top: 75px;
	text-align: center;
	color: #fff;
}

.title h3{
	margin-bottom: 20px;
	font-size: 40px;
	font-style: italic;
}

.title h1{
	font-family: GothaProBold;
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom: 55px;
}

.title button{
	display: inline-block;
	color: #fff;
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 24px;
	width: 240px;
	height: 65px;
	background-color: #89dcff;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
}

#content>div:nth-child(odd){
	background-color: #fff;
}

#content>div:nth-child(even){
	background-color: #f1f1f1;
}

#content>div:last-child{
	background-color: #222;
}
		
#content .name-dir{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 45px;
}

#content .name-dir h2{
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 25px;
	color: #222;
}

#content #contacts h2{
	color: #fff;	
}

#content .name-dir p{
	font-style: italic;
	font-size: 16px;
	color: #777;
}


