
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a, a:hover{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

@font-face {
	font-family: GothaProMed; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProMed.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaPro; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: GothaProBold; /* Гарнитура шрифта */
	src: url(./../fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

#wrapper{
	width: 100%;
	min-width: 768px;
	float: left;
}

.widthcont {
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

@media (max-width: 970px) {
	.widthcont { 
		width: 100%;
	}
}

.line {
	width: 100%;
	float: left;
}

.box {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

.menu-line {
	float: left;
	background: #000;
}

.menu-line .logo-box {
	width: 133px;
	height: 65px;
	float: left;
	position: relative;
}

.menu-line .logo {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu-line .nav-box {
	width: 100%;
	height: 100%;
	padding-left: 133px;
	position: relative;
}

.menu-line .menunav {
	width: 100%;
	min-height: 65px;
	float: left;
	position: relative;
}

.menu-line .nav {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}

.menu-line .nav li {
	font-family: GothaProMed;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 47px;
	margin-left: 30px;
	color: #fff;
	float: left;
}

.menu-line .nav a:hover {
	color: #89dcff;
}

@media (max-width: 970px) {
	.menu-line .logo-box {
		width: 100%;
		text-align: center;
	}

	.menu-line .logo {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.menu-line .nav-box {
		padding: 0;
		float: left;
	}

	.menu-line .nav {
		width: 100%;
		height: auto;
		position: static;
		float: left;
		transform: none;
	}

	.menu-line .nav li {
		width: 100%;
		margin: 0;
		text-align: center;
	}
}

.contact-line {
	height: 35px;
	background: #333;
}

.contact {
	position: absolute;
	right: 0;
	color: #fff;
}

.contact > *:not(:first-child) {
	margin-left: 40px;
}

.contact > *{
	float: left;
	font-family: GothaPro;
	position: relative;
	color: #fff;
	text-align: right;
	font-size: 14px;
	line-height: 35px;
}

.contact a:hover {
	color: #89dcff;
}

.contact #email:before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: -35px;
	background: url(./../pictures/pics.png) no-repeat 4px 4px;
}

.contact #phone:before {
	content: "";
	display: block;
	width: 15px;
	height: 35px;
	position: absolute;
	left: -20px;
	background: url(./../pictures/pics.png) no-repeat -30px 4px;
}

.title-line {
	height: 565px;
	background: grey;
	background-color: #242d31;
	background-image: url(./../pictures/headimage.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.title {
	padding-top: 75px;
	text-align: center;
	color: #fff;
}

.title h3{
	margin-bottom: 20px;
	font-size: 40px;
	font-style: italic;
}

.title h1{
	font-family: GothaProBold;
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom: 55px;
}

.title button{
	display: inline-block;
	color: #fff;
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 24px;
	width: 240px;
	height: 65px;
	background-color: #89dcff;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
}

.name-dir{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 45px;
}

.name-dir h2{
	font-family: GothaProMed;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 25px;
	color: #222;
}

.name-dir p{
	font-style: italic;
	font-size: 16px;
	color: #777;
}

.line-ourservices {
	background-color: #fff;
}

.line-portfolio {
	background-color: #f1f1f1;
}

.line-stagesofwork {
	background-color: #fff;
}

.line-team {
	background-color: #f1f1f1;
}

.line-contacts {
	background-color: #222;
}

.line-contacts .name-dir h2 {
	color: #fff;
}

.footer-line {
	height: 55px;
	background-color: #fff;
}

.footer-line p {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	font-family: "Myriad Pro";
	color: #555;
}

.footer-line p a {
	color: #89dcff;
	text-decoration: underline;
}

.footer-line ul {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.footer-line ul li {
	float: left;
}

.footer-line ul li:not(:last-child) {
	margin-right: 7px; 
}

.footer-line ul li a {
	display: block;
	width: 32px;
	height: 35px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	background-color: #89dcff;
}


